* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;

    font-family: 'Mulish', sans-serif;

    padding: 72px 104px;

    display: grid;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);

    gap: 44px 60px;
}

h1 {
    color: #02799D;
    font-size: 58px;
    font-weight: 900;

    margin-bottom: 8px;
}

h3 {
    color: #E1E1E6;
    font-size: 32px;
    font-weight: 600;

    margin-bottom: 63px;
}


.card {
    background-color: #202024;

    border: 2px solid #323238;
    border-radius: 8px;

    overflow: hidden;
}

.card h2 {
    font-size: 36px;
    font-weight: 900;
    color: #E1E1E6;

    padding: 24px 32px 0;
}
.card p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;

    padding: 24px 32px 32px;
}
